.input-number, .operator, #clear-btn {
  font-weight: bold;
  font-size: 2em;
  height: 90px;
}

#add-btn {
  height: 180px;
}

#clear-btn {
  background-color: 	#6495ED;
}

#equals-btn {
  font-weight: bold;
  font-size: 2em;
  height: 270px;
}

#result {
  font-weight: bold;
  font-size: 2em;
  height: 90px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  text-align: right;
  padding: 30px 10px;
}

#calc-container {
  background-color: grey
}
