body {
  background-color: 	#2F4F4F;
}

.input-number, .operator, #clear-btn {
  width: 30%;
  font-weight: bold;
  font-size: 2em;
  height: 90px;
}

.btn-space {
  margin: 5px;
}

#add-btn {
  height: 190px;
  width: 8%;
}

#equals-btn {
  font-weight: bold;
  font-size: 2em;
  height: 290px;
}

#result {
  font-weight: bold;
  font-size: 2em;
  height: 90px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  background-color: white;
  text-align: right;
  padding: 30px 10px;
}

#calc-container {
  background-color: grey
}
