.input-number, .operator, #equals-btn {
  font-weight: bold;
  font-size: 2em;
  height: 90px;
}

#result {
  font-weight: bold;
  font-size: 2em;
  height: 90px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  text-align: right;
  padding: 30px 10px;
}

#calc-container {
  background-color: grey
}
